<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Домашняя страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Stud-CMS</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="{% url 'home' %}">Главная</a>
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">Вход</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover main mt-5">
        <p class="cover-heading">Отслеживайте свою успеваемость!</p>
        <p class="lead">Удобный сервис для студентов и преподавателей.</p>
        <p class="lead">
          <a href="{% url 'profile' %}" class="btn btn-lg btn-secondary">Вперед!</a>
        </p>
    </main>

    <div class="row mt-5 mb-5">
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Для студентов:</h5>
            <p class="card-text">Вы всегда и везде сможете узнать свои оценки за семестр, будь то это зачет или экзамен!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Для преподавателей</h5>
            <p class="card-text">Вы лего сможете заполнить оценочную ведомость и предоставить студентам актуалную информацию!</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p><a href="https://github.com/ext33/students-CMS">Stud-CMS</a> by <a href="https://github.com/ext33">@ext33</a>.</p>
        </div>
    </footer>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>